<%= form_with(model: perk, local: true) do |form| %>
  <% if perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
        <% perk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :パーク名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :評価 %>
    <%= form.number_field :rate %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :context %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
