<p id="notice"><%= notice %></p>

<h1>Perks</h1>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perks.each do |perk| %>
      <tr>
        <td><%= perk.name %></td>
        <td><%= perk.rate %></td>
        <td><%= perk.context %></td>
        <td><%= link_to 'Show', perk, :style=>"color:orange;" %></td>
        <td><%= link_to 'Edit', edit_perk_path(perk), :style=>"color:lightgreen;" %></td>
        <td><%= link_to 'Destroy', perk, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"color:red;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Perk', new_perk_path, :style=>"color:yellow;" %>
