<%= link_to "New Perk", new_perk_path, :style=>"color:yellow;" %> |
<%= link_to 'New Post', new_post_path, :style=>"color:red" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>パーク名:</strong>
  <%= @perk.name %>
</p>

<p>
  <strong>評価:</strong>
  <%= @perk.rate %>
</p>

<p>
  <strong>備考:</strong>
  <%= @perk.context %>
</p>

<%= link_to 'Edit', edit_perk_path(@perk), :style=>"color:lightgreen;" %> |
<%= link_to 'Back', perks_path, :style=>"color:white;" %>
