<p id="notice"><%= notice %></p>

<h1>Weapons</h1>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Attack</th>
      <th>Fire Rate</th>
      <th>Context</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.name %></td>
        <td><%= weapon.attack %></td>
        <td><%= weapon.fire_rate %></td>
        <td><%= weapon.context %></td>
        <td><%= link_to 'Show', weapon, :style=>"color:orange;" %></td>
        <td><%= link_to 'Edit', edit_weapon_path(weapon), :style=>"color:lightgreen;" %></td>
        <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"color:red;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Weapon', new_weapon_path, :style=>"color:yellow;" %>
