<p id="notice"><%= notice %></p>

<h1>Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Name
        <ul>
          <li><img src="/assets/images/submachinegun.jpg">サブマシンガン</li>
        </ul>
      </th>
      <th>Attack
        <ul>
          <li>50</li>
        </ul>
      </th>
      <th>Fire Rate
        <ul>
          <li>90</li>
        </ul
      </th>
      <th>Context
        <ul>
          <li>オートライフルマンビルド向き</li>
        </ul>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weapons.each do |weapon| %>
      <tr>
        <td><%= weapon.name %></td>
        <td><%= weapon.attack %></td>
        <td><%= weapon.fire_rate %></td>
        <td><%= weapon.context %></td>
        <td><%= link_to 'Show', weapon %></td>
        <td><%= link_to 'Edit', edit_weapon_path(weapon) %></td>
        <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weapon', new_weapon_path, :style=>"color:yellow;" %>
