<p id="notice"><%= notice %></p>

<h1>Weapons</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <div class="container">
      <div class="row">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Attack</th>
            <th>Fire Rate</th>
            <th>Context</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @weapons.each do |weapon| %>
            <tr>
              <td><%= weapon.id %></td>
              <td><%= link_to weapon.name, weapon, :style=>"color:orange;" %></td>
              <td><%= weapon.attack %></td>
              <td><%= weapon.fire_rate %></td>
              <td><%= weapon.context %></td>
              <td><%= link_to 'Edit', edit_weapon_path(weapon), :style=>"color:lightgreen;" %></td>
              <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' }, :style=>"color:red;" %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </div>
  </table>
</div>

<%= link_to 'New Weapon', new_weapon_path, :style=>"color:yellow;" %>  |
<%= link_to 'New Post', new_post_path, :style=>"color:red" %>