<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :コメント %>
    <%= form.text_field :text, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :評価 %>
    <%= form.number_field :like, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :武器 %>
    <%= form.number_field :weapon_id, class:"form-control" %>
    <small id="weapon-tip" class="form-text text-muted">
      武器No.を入力してください
    </small>
  </div>

  <div class="field form-group">
    <%= form.label :パーク %>
    <%= form.number_field :perk_id, class:"form-control" %>
    <small id="perk-tip" class="form-text text-muted">
      パークNo.を入力してください
    </small>
  </div>
  
  <div class="actions">
    <%= form.submit '投稿する', class: "btn btn-primary" %>
  </div>
<% end %>
