<p id="notice"><%= notice %></p>
<div class="center jambotron">
  <h1>fallout76徹底攻略</h1>
</div>

<p>検索</p>
<%= form_tag(search_posts_path, :method => 'get') do %>
  <%= text_field_tag :text %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<h2>新着コメント</h2>

<%= render @posts %>

<%= paginate @posts %>

<% link_to 'New Post', new_post_path, :style=>"color:yellow;" %>
